#api-response-container {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0px 56px;
}

#api-response-item {
  display: flex;
  width: 20%;
  min-width: 12rem;
  justify-content: space-between;
}

#response-text.connected {
  font-weight: bold;
  color: rgb(48, 109, 48);
}
