@import "./api-checker.scss";
@import "./home/about.scss";
@import "./home/guestbook-wizard.scss";
@import "./home/contact.scss";
@import "./guestbook.scss";
@import "./spinner.scss";
@import "./success-check.scss";

.primary-button {
  border: 1px #b9b9b9 solid;
  background-color: #ececec;
}

a.primary-button {
  color: black;
}

#sync-icon {
  align-self: center;
}
