@import "./api-checker.scss";
@import "./home/about.scss";
@import "./home/guestbook-wizard.scss";
@import "./home/contact.scss";
@import "./guestbook.scss";
@import "./spinner.scss";
@import "./success-check.scss";

.primary-button {
  background-color: #f5f5f5;
  border: 1px hsl(0, 4%, 90%) solid;
}

a.primary-button {
  color: black;
}

#sync-icon {
  align-self: center;
}
