.table {
  width: 100%;
  margin-bottom: 18px;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table > thead > tr > th {
  border-bottom: none;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: whitesmoke;
}

.table tr:last-child td {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:hover {
  background-color: #eeeeee;
}

@media only screen and (max-width: 767px) {
  tr.selected > td {
    white-space: normal;
  }
}

// Sticky header stuff

$navbar-height: 50px;
$sticky-cell-height: 36px;

#main-navbar {
  height: $navbar-height;
}

.sticky-table-header {
  th {
    position: sticky;
    top: $navbar-height;
    height: $sticky-cell-height;
    background: white;
    z-index: 100;
  }
}

#sticky-header-box-shadow.visible {
  position: fixed;
  top: $navbar-height + $sticky-cell-height;
  height: 0px;
  box-shadow: 0px -1px 8px 3px grey;
  z-index: 99;
}
