@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>

<address>
    Benjamin Ward<br />
    <div>
        <strong>Phone: </strong> <span>256.566.5467</span>
    </div>
    <strong>Email:</strong>   <a href="mailto:benjamin.e.ward@outlook.com">benjamin.e.ward@outlook.com</a><br />
</address>