.contact-info-container {
  margin: 12px 0px;
}

.contact-item {
  margin: 5px 0px;
}

.contact-item > svg {
  font-size: large;
  margin-right: 5px;
}

.resume-modal {
  top: 50px;
}

.resume-modal-img {
  max-width: 100%;
}
