.contact-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info-container {
  margin: 12px 0px;
}

.contact-item {
  margin: 5px 0px;
}

.contact-item > svg {
  font-size: large;
  margin-right: 5px;
}

.modal-content {
  align-items: center;
  background: none;
  border: none;
}

.resume-modal {
  top: 50px;
}

.resume-controls-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 5.5rem;
  justify-content: space-between;
}

.annotationLayer {
  height: 12px;
}

.resume-modal-img {
  max-width: 100%;
}
