.guestbook-wizard-container {
  margin: 24px 0px;
}

.progress-bar-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.progress-separator {
  height: 1px;
  background-color: #e7e4e4;
  width: 40%;
  align-self: center;
}

.progress-separator.complete {
  background-color: rgba(81, 201, 11, 0.5);
  height: 2px;
}

.step-view-container {
  text-align: -webkit-center;
  margin: 36px 0px;
}

.guestbook-wizard-controls-container {
  text-align: center;
  width: 100%;
}

.step-view-item {
  display: flex;
  justify-content: center;
  margin: 12px 30%;
  text-align: center;
}

.input-container > input {
  height: fit-content;
}

.guestbook-wizard-button:first-child {
  margin-right: 2%;
  width: 48%;
}

.guestbook-wizard-button:last-child {
  margin-left: 2%;
  width: 48%;
}

.step-view-item.input-container {
  min-height: 50px;
}

.step-view-item > strong {
  margin-right: 12px;
}

#entry-input {
  max-width: none;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #entry-input {
    min-width: 100%;
  }

  .guestbook-wizard-controls-container {
    width: 100%;
  }

  .step-view-item {
    width: 84%;
    margin: 12px 0px;
  }
}
